.profilePage{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profilePagePicture{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}
#miniProfilePic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.appointmentsList{
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
    width: 1200px;
}

.appointmentWrapper{
    width: 250px;
    background-color: rgb(230, 228, 228);
    border: 1px cadetblue solid;
    margin: 10px;
    padding-top: 10px;
    border-radius: 4px;
}
.appointmentWrapper:hover{
    box-shadow: 3px 3px 3px #00000088;
    background-color: rgba(184, 184, 184, 0.562);
    cursor: pointer;
}
.appointmentModalWrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f0f8ff98;
}
.appointmentModal{
    background-color: #6CB6E6;
    height: 610px;
    width: 60vw;
}
.deleteModalWrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
}
.deleteModal{
    height: 40vh;
    width: 40vw;
    background-color: bisque;
}