.profilePage{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profilePagePicture{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
#miniProfilePic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.profileApptsList{
    height: 600px;
    overflow-y: auto; 
}
.appointmentsList{
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
    width: 1200px;
}
.pastAppointmentsList{
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
    width: 1200px;
    margin-bottom: 40px;
}
.appointmentWrapper{
    width: 250px;
    background-color: #aeddfa;
    border: 1px cadetblue solid;
    margin: 10px;
    padding-top: 10px;
    border-radius: 4px;
}
.appointmentWrapper:hover{
    box-shadow: 3px 3px 3px #00000088;
    background-color: #6ac3fa;
    cursor: pointer;
}
.appointmentModalWrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f0f8ff98;
}
.appointmentModal{
    background-color: #F2F0F2;
    border: #73afc7 1px solid;
    border-radius: 15px;
    height: 610px;
    width: 60vw;
}
.apptModalContent{
    display: flex;
    flex-direction: column;
}
.apptDateText{
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 5px;
}
.summaryBox{
    width: 622px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.summaryDiv{
    height: 84px;
    width: 622px;
    padding: 10px;
    text-align: start;
    background-color: rgb(241, 241, 241);
    border: rgb(190, 190, 190) 1px solid;
}
.notesBox{
    width: 622px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.notesDiv{
    width: 622px;
    height: 136px;
    text-align: start;
    background-color: rgb(241, 241, 241);
    border: rgb(190, 190, 190) 1px solid;
    padding: 10px;
}
.detailsText{
    margin: 0;
}
.apptButtons{
    margin-left: 5px;
    height: 30px; 
}
.apptButtons:hover{
    background-color: #e4e4e4;
    cursor: pointer;
}
.apptTotalEdit{
    display: flex;
    align-items: center;
}
.apptTotalInput{
    width: 20px;
}
.deleteModalWrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000088;
}
.deleteModal{
    height: 40vh;
    width: 40vw;
    background-color: rgb(241, 241, 241);
    border: 1px cadetblue solid;
}
.deleteModalContent{
    margin-top: 30px;
}