.userMini{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: azure;
    border: 1px solid cadetblue;
    height: 100px;
    width: 320px;
    margin-bottom: 15px;
}
.miniProfilePic{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-left: 40px;
    margin-right: 20px;
    object-fit: cover;
}
.miniProfileName{
    text-decoration: none;
    font-size: 18px;
}
.linkToUser{
    text-decoration: none;
    color: rgb(0, 0, 92);
}
.userList{
    margin-left: 50px;
}
