.userMini{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(230, 228, 228);
    border: 1px solid cadetblue;
    border-radius: 4px;
    height: 100px;
    width: 320px;
    margin-bottom: 15px;
}
.userMini:hover{
    box-shadow: 3px 3px 3px #00000088;
    background-color: rgba(184, 184, 184, 0.562);
    cursor: pointer;
}
.miniProfilePic{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-left: 40px;
    margin-right: 20px;
    object-fit: cover;
}
.miniProfileName{
    text-decoration: none;
    font-size: 18px;
}
.linkToUser{
    text-decoration: none;
    color: rgb(0, 0, 92);
}
.userList{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    width: 320px;
    padding-right: 20px;
    border-right: 1px solid cadetblue;
}
.userSearch{
    margin-bottom: 10px;
}

