.adminHome{
    height: 750px;
    display: flex;
    justify-content: space-around;
    padding-left: 70px;
    padding-right: 70px;
}
.homeDateDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dateDisplayText{
    width: 280px;
}
.linkToUser{
    text-decoration: none;
    color: rgb(0, 0, 92);
}
.selectedUser{
    margin-top: 30px;
}
.appointmentsView{
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.clientListView{
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homeApptList{
    height: 720px;
    overflow-y: auto;
}
.clientList{
    height: 720px;
    overflow-y: auto;
}