.adminHome{
    display: flex;
    justify-content: space-around;
}
.homeDateDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dateDisplayText{
    width: 270px;
}
.linkToUser{
    text-decoration: none;
    color: rgb(0, 0, 92);
}
.selectedUser{
    margin-top: 30px;
}
