body{
  background-color: #F8F9FB;
}
textarea{
  font-size: 14px;
}
.App {
  text-align: center;
  background-color: #F8F9FB;
}
p, h1, h2, h3, h4{
  font-family: 'Bai Jamjuree', sans-serif;
  /* font-weight: 700; */
}
h1{
  font-weight: 700;
}

Link{
  text-decoration: none;
}
.datePicker{
  margin-top: 100px;


}

