.navBar{
    width: 100vw;
    /* background-color: #013468; */
    /* background-color: #32708F; */
    background: -webkit-linear-gradient(45deg, rgba(1,52,104,1) 0%,rgba(83,185,237,1) 35%,rgba(1,52,104,1) 100%);
    /* background: -webkit-linear-gradient(45deg, rgba(50,112,143,1) 0%,rgba(83,185,237,1) 30%,rgba(1,52,104,1) 100%); */
    height: 100px;
    margin-bottom: 30px;
    border-bottom: 1px solid #32708F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navLinks{
    width: 40vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    margin-top: 30px;
}
.logoDiv{
    display: flex;
    align-items: center;
    margin-top: 7px;
}
.logo{
    height: 40px;
    margin-left: 50px;
    margin-bottom: 7px;
}
.navTabs{
    padding-right: 25px;
    padding-left: 25px;
    height: 35px;
    text-decoration: none;
    border-left: whitesmoke 1px solid;
}
#logoutDiv{
    display: flex;
    align-items: center;
    padding-top: 2px;
    padding-right: 0;
}
.logoText{
    font-size: 30px;
    color: whitesmoke;
    margin-left: 10px;
}
.linkText{
    font-size: 24px;
    color: whitesmoke;
    margin: 0;

}